@import "../../styles/main.scss";

#city-choise,
#point-select,
.pick-date__input {
  border-bottom: 1px solid $gray;
  width: 224px;
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  &::placeholder {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.4rem;
    color: $gray;
  }
}

.order {
  &__location {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 32px 0 0 64px;
    @include from($mobile) {
      padding: 32px 32px 0 30px;
    }
  }
  &__map {
    margin-top: 45px;
  }
}

.map {
  margin-top: 8px;
  min-height: 350px;
  width: 90%;
}

.input-label {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.4rem;
  color: $black;
  margin-right: 8px;
}

.point-input {
  margin-top: 13px;
}

.order-inputs {
  position: relative;
  width: 324px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cross-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

#city-choise {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.4rem;
  color: $black;
}
