@import "../../styles/main.scss";

.car-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 72vh;
  margin-top: 48px;
  @include from($laptop) {
    max-height: 44vh;
  }
  &__info {
    border: 1px solid $gray-light;
    &:hover {
      border-color: $gray;
      cursor: pointer;
    }
    &:active {
      border-color: $main-accent;
    }
  }
}

.info {
  &-content {
    padding: 16px;
  }
  &-title {
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.8rem;
    color: $black;
  }
  &-price {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.4rem;
    color: $gray;
    margin-top: 3px;
  }
  &-img {
    margin: 37px 0 0 79px;
    object-fit: cover;
  }
}
