@import "../../styles/main.scss";

.wrapper {
  display: flex;
}

.side-bar {
  position: sticky;
  margin: 0;
  padding: 0;
  width: 86px;
  height: 100vh;
  background-color: $side-bar;
  overflow: auto;
  display: none;
  @include from($tablet) {
    display: block;
  }
  @include from($laptop) {
    display: block;
    width: 64px;
  }
  &__lang-switch {
    margin: 758px 0 0 24px;
    color: $main-accent;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 1.3rem;
    @include from($tablet) {
      margin: 751px 0 0 24px;
    }
    @include from($laptop) {
      margin: 751px 0 0 19px;
    }
  }
}

.content {
  height: 100vh;
  flex: 1 1 100%;
  @include from($laptop) {
    flex: 1 1 53%;
  }
}

.container {
  margin: 16px 16px 0 16px;
  @include from($tablet) {
    margin-left: 32px;
  }
}

#menu {
  &__toggle {
    opacity: 0;
    &:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }
    &:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    &:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    &:checked ~ .menu__box {
      visibility: visible;
      left: 0;
    }
  }
}

.menu {
  &__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 32px;
    left: 16px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 3;
    @include from($tablet) {
      left: 24px;
    }
    @include from($laptop) {
      left: 19px;
    }
  }
  &__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: $black;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

    transition-duration: 0.25s;
    z-index: 2;
  }
  &__list {
    @include from($tablet) {
      margin: 125px 0 0 73px;
    }
    @include from($laptop) {
      margin: 170px 0 0 73px;
    }
  }
  &__item {
    display: block;
    padding: 12px 24px;

    color: #fff;

    font-family: "Roboto";
    font-size: 2.2rem;
    font-weight: 500;

    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.25s;
    @include from($tablet) {
      font-size: 2.8rem;
    }
    &:hover {
      color: $main-accent;
    }
  }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

svg.socials__icon path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

.socials {
  @include from($tablet) {
    margin-left: 72px;
  }
  &__icon {
    margin: 32px 0 0 24px;
    @include from($tablet) {
      margin: 38px 0 0 24px;
    }
    &:hover {
      fill: $main-accent;
    }
  }
}

.lang-switch {
  margin: 224px 0 24px 24px;
  color: $main-accent;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.3rem;
  @include from($tablet) {
    display: none;
  }
}

.header {
  @include from($tablet) {
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
  }
}

.brand-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 3rem;
  color: $main-accent;
  text-align: end;
}

.location {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
  &__city {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.4rem;
    color: $gray;
    margin-left: 8px;
  }
}

.main {
  margin-top: 32px;
  @include from($tablet) {
    margin-top: 160px;
  }
  &__header {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 3.2rem;
    color: $black;
    @include from($tablet) {
      font-size: 7rem;
    }
  }
  &__brand-name {
    margin-top: 8px;
    text-align: left;
    font-size: 3.2rem;
    @include from($tablet) {
      font-size: 7rem;
    }
  }
  &__text {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 21px;
    color: $gray;
    margin-top: 16px;
    @include from($tablet) {
      font-size: 2.6rem;
    }
  }
}

.order-button {
  margin-top: 32px;
  margin-bottom: 176px;
  @include from($tablet) {
    margin: 64px 0 218px 32px;
  }
  &__btn {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.8rem;
    color: #fff;
    width: 100%;
    height: 50px;
    background: rgb(14, 194, 97);
    background: linear-gradient(
      54deg,
      rgba(14, 194, 97, 1) 37%,
      rgba(3, 159, 103, 1) 74%
    );
    @include from($tablet) {
      width: 250px;
      border-radius: 8px;
    }
  }
}

.footer {
  background-color: $side-bar;
  height: 72px;
  @include from($tablet) {
    background-color: white;
  }
  &__container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include from($tablet) {
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-right: 32px;
    }
  }
  &__phone {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.3rem;
    color: $main-accent;
    margin-top: 16px;
    @include from($tablet) {
      color: $black;
    }
  }
  &__rights-info {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.3rem;
    color: #fff;
    margin-top: 8px;
    @include from($tablet) {
      color: $gray;
    }
  }
}
