@import "../../styles/main.scss";

.swiper-container {
  max-width: 688px;
  flex: 1 1 100%;
  height: 100vh;
  margin: 0;
  --swiper-navigation-size: 30px;
  --swiper-theme-color: #fff;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 32px;
}

.swiper-container.swiper-container-initialized.swiper-container-horizontal.swiper-container-pointer-events.swiper-container-css-mode.mySwiper {
  @include from($tablet) {
    display: none;
  }
}

.swiper-button-next, .swiper-button-prev {
  color: #fff;
  &:hover {
    color: $main-accent;
  }
}

.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
  &:hover {
    color: $main-accent;
    background-color: $main-accent;

  }
}

.swiper-pagination-bullet-active {
  background-color: $main-accent;
}