@import '../../styles/main.scss';

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  width: 64px;
  height: 100vh;
  flex-shrink: 0;
  background-color: #151B1F;
  @include from($tablet) {
    width: 86px;
  }
  @include from($mobile) {
    display: none;
  }
  &__lang-switch {
    color: $main-accent;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 32px;
    &:hover {
      color: $gray-light;
    }
    &:active {
      color: $main-accent;
    }
  }
}