@import "../../styles/main.scss";

.accepted {
  width: 177px;
  height: 48px;
  border-radius: 4px;
  color: #fff;
  background: rgb(14, 194, 97);
  background: linear-gradient(
    54deg,
    rgba(14, 194, 97, 1) 37%,
    rgba(3, 159, 103, 1) 74%
  );
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.8rem;
}

.rejected {
  width: 164px;
  height: 48px;
  border-radius: 4px;
  color: #fff;
  background: rgb(73, 48, 19);
  background: linear-gradient(
    90deg,
    rgba(73, 48, 19, 1) 0%,
    rgba(123, 12, 59, 1) 90%
  );
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.8rem;
  margin-left: 16px;
}
