@import "../../styles/main.scss";

.order-button {
  &__btn {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.8rem;
    color: #fff;
    width: 250px;
    height: 50px;
    margin-top: 64px;
    border-radius: 8px;
    background: rgb(14, 194, 97);
    background: linear-gradient(
      54deg,
      rgba(14, 194, 97, 1) 37%,
      rgba(3, 159, 103, 1) 74%
    );
    &:hover {
      filter: brightness(0.9);
    }
    &:focus {
      filter: brightness(0.8);
    }
    &:active {
      filter: brightness(0.9);
    }
    @include from($mobile) {
      width: 100%;
      border-radius: 0;
    }
  }
}